<div class="container py-5">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-md-5">
            <div style="background-color: #040204;" class="box text-center text-light p-5 pb-4 rounded-4">
                <img class="w-100 h-75" src="https://media.tenor.com/N7u5cEzdT-YAAAAC/neon-sign-check-mark.gif" alt="" />
                <h2 class="h2 mb-5">Now your account has been activated</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime consectetur, laborum blanditiis quam consequuntur possimus nulla tempore excepturi porro expedita culpa dicta laudantium minima veniam quisquam inventore sed eos sapiente?</p>
            </div>
        </div>
    </div>
</div>

